.faq-question { width: 100%; background: none; border: none; padding: 20px 0; font-size: 1.1rem; font-weight: 600; color: #2d3436; text-align: left; cursor: pointer; display: flex; justify-content: space-between; align-items: center; font-family: 'Poppins', sans-serif; transition: 0.3s; }
.faq-question:hover { color: #27ae60; }
.faq-answer { max-height: 0; overflow: hidden; transition: max-height 0.3s ease; color: #636e72; line-height: 1.6; }
.faq-answer p { padding-bottom: 20px; }
.faq-answer p { padding-bottom: 20px; }


/*   NUEVA SECCIÓN: EDUCACIÓN Y CURIOSIDADES */
.educacion-section { padding: 80px 8%; background: #fdfdfd; text-align: center; }
.edu-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 30px; margin-top: 40px; }
.edu-card { background: white; border-radius: 20px; overflow: hidden; box-shadow: 0 10px 30px rgba(0,0,0,0.05); text-align: left; transition: 0.3s; border: 1px solid #eee; }
.edu-card:hover { transform: translateY(-10px); box-shadow: 0 15px 40px rgba(39, 174, 96, 0.15); border-color: #27ae60; }
.edu-img { height: 200px; background-size: cover; background-position: center; position: relative; }
.edu-tag { position: absolute; top: 15px; left: 15px; background: #27ae60; color: white; padding: 5px 15px; border-radius: 20px; font-size: 0.8rem; font-weight: bold; text-transform: uppercase; }
.edu-content { padding: 25px; }
.edu-content h3 { color: #2d3436; margin-bottom: 15px; font-size: 1.3rem; }
.edu-content p { color: #636e72; font-size: 0.95rem; line-height: 1.6; }
